body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1e368e, #87aef1);
    color: #fff;
    text-align: center;
  }
  
  #factorial-calculator {
    padding: 50px 70px;
    max-width: 600px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 1.2em;
  }
  
  input {
    padding: 10px;
    width: calc(100% - 22px);
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 1em;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 20px;
    background: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: #45a049;
  }
  
  #output-container {
    margin-top: 20px;
    text-align: left;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    display: none;
  }
  
  #output-container h3 {
    margin: 0 0 10px;
  }
  
  footer {
    margin-top: 200px;
    font-size: 0.9em;
  }
  